@use '/src/view/styles/abstracts';

.custom-header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    height: 50px;
    padding-right: 16px;
    padding-left: 16px;
    z-index: 3;

    @include abstracts.breakpoint(lg) {
        display: block;
    }

    &-drawer {
        &-mask {
            &.ant-drawer-mask {
                background: none;
                backdrop-filter: blur(2px);
            }
        }

        &-header {
            &.ant-drawer-header {
                padding: 12px 16px 6px 16px;
                border: none;

                .ant-drawer-header-title {
                    flex-direction: row-reverse;
                    justify-content: space-between;
                }

                .ant-drawer-close {
                    margin-right: 0;
                    padding: 0;
                    color: var(--white);
                }

                .ant-drawer-title {
                    flex: 0;
                    line-height: 1;
                }
            }
        }

        &-content {
            &.ant-drawer-content {
                background-color: var(--green-500);
                color: var(--white);
                overflow: hidden;
            }
        }

        &-body {
            &.ant-drawer-body {
                position: relative;
                padding: 76px 16px 0px;
                overflow: hidden;
            }
        }
    }
}
