@use '/src/view/styles/abstracts';

.custom-sider {
    &.ant-layout-sider:not(.ant-layout-sider-zero-width) {
        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;
            padding: 14px 40px 14px 32px;
        }
    }

    &.ant-layout-sider.ant-layout-sider-zero-width {
        height: 0;
    }

    &-modal {
        &-wrap {
            .ant-modal {
                position: static;
            }

            &.ant-modal-wrap {
                position: absolute;
                inset: 24px 24px 0 281px;
            }
        }

        &-content {
            &.ant-modal-content {
                padding: 0;
                border-radius: 0;
                box-shadow: none;
            }
        }

        &-body {
            &.ant-modal-body {
                padding: 32px;

                @include abstracts.breakpoint(xxl) {
                    padding: 16px;
                }
            }
        }
    }

    &-tabs {
        .ant-tabs-nav::before {
            border-width: 3px;
            border-color: #eecde0;
        }

        .ant-tabs-nav-list {
            gap: 80px;

            @include abstracts.breakpoint(xxl) {
                gap: 46px;
            }
        }

        .ant-tabs-tab-btn {
            font-family: var(--font-bangers);
            font-size: clamp(2.4rem, 2.2vw + 1rem, 5rem);
        }

        .ant-tabs-nav .ant-tabs-ink-bar {
            height: 2.67px;
        }
    }
}
