@use '/src/view/styles/abstracts';

.list {
    margin: 48px auto 72px;

    @include abstracts.breakpoint(md) {
        margin-bottom: 44px;
    }
}

.row {
    --exercise-grid-gutter: 60px;
    --exercise-grid-space: calc(var(--exercise-grid-gutter) / 2);

    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--exercise-grid-space) * -1);

    @include abstracts.breakpoint(xxl) {
        --exercise-grid-gutter: 36px;
    }

    @include abstracts.breakpoint(xl) {
        --exercise-grid-gutter: 24px;
    }

    @include abstracts.breakpoint(md) {
        --exercise-grid-gutter: 8px;

        justify-content: center;
        margin-top: calc(var(--exercise-grid-gutter) * -1);
    }
}

.item {
    flex: 0 0 auto;
    width: calc(100% / 3);
    padding: 0 var(--exercise-grid-space);

    @include abstracts.breakpoint(md) {
        padding-top: var(--exercise-grid-gutter);

        &--cols-1 {
            width: calc(100% / 1);
        }

        &--cols-2 {
            width: calc(100% / 2);
        }
    }
}

.card {
    height: 100%;
    padding: 38px 30px;
    border: 5.1px solid var(--exercise-card-theme);
    border-radius: 24px;
    box-shadow: 0px 5.1px 10.2px 0px #00000033;

    @include abstracts.breakpoint(xxl) {
        padding: 30px 28px;
    }

    @include abstracts.breakpoint(xl) {
        padding: 28px 24px;
    }

    @include abstracts.breakpoint(md) {
        padding: 23px 14px;
    }

    &--green {
        --exercise-card-theme: var(--green-500);
    }

    &--pink {
        --exercise-card-theme: #ff41b2;
    }

    &--blue {
        --exercise-card-theme: #3781db;
    }
}

.flag {
    position: relative;
    display: flex;
    justify-content: center;
    width: 78.75%;
    padding: 22px 0;
    margin: 0 auto;
    background-color: var(--exercise-card-theme);
    border-radius: 0px 0px 18px 18px;
    color: var(--white);

    @include abstracts.breakpoint(xxl) {
        padding: 18px 0;
    }

    @include abstracts.breakpoint(md) {
        padding: 14px 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: -1px;
        right: -32px;
        left: -32px;
        display: block;
        height: 4px;
        background: #00000033;
        border-radius: 50%;
        backdrop-filter: blur(5px);

        @include abstracts.breakpoint(xxl) {
            right: -28px;
            left: -28px;
        }

        @include abstracts.breakpoint(xl) {
            right: -18px;
            left: -18px;
        }

        @include abstracts.breakpoint(md) {
            right: -16px;
            left: -16px;
        }
    }

    &--icon {
        font-size: clamp(4.4rem, 5vw + 1rem, 9.8rem);
    }
}

.heading {
    margin-top: 45px;

    color: var(--exercise-card-theme);
    font-size: clamp(1.8rem, 4vw - 1.5rem, 4rem);
    font-weight: 800;
    line-height: 1.2;
    text-align: center;

    @include abstracts.breakpoint(md) {
        margin-top: 26px;
    }
}

.content {
    margin-top: 8px;

    &--lg {
        p {
            font-size: clamp(1.4rem, 1vw + 1rem, 2.3rem);
            font-weight: 500;
            line-height: 1.2;
        }
    }

    &--md {
        p,
        li {
            font-size: clamp(1.4rem, 3vw - 2.25rem, 1.6rem);
            line-height: 1.5;
        }

        strong {
            font-weight: 700;
        }

        & > ul {
            padding-left: 24px;
        }

        & > ul {
            ul {
                padding-left: 6px;
            }
        }

        ul {
            list-style: disc;

            ul {
                list-style-type: '+ ';
            }
        }
    }
}
