html {
    --body-bg-color: #e6ffd2;
    --menu-bg-color: #259e58;
    --active-menu-color: #005f33;
    --text-color: #666666;

    --green-50: #eaf6ef;
    --green-500: #259e58;

    --pink-50: #fee6f4;
    --pink-500: #ec008c;

    --gray-300: #a3a3a3;
    --gray-400: #858585;
    --gray-500: #666666;
    --gray-600: #4d4d4d;
}
