@use '/src/view/styles/abstracts';

.button {
    --explore-tip-size: 44px;

    position: absolute;
    display: flex;
    align-items: center;
    width: var(--explore-tip-size);
    height: var(--explore-tip-size);
    padding: 0;
    background-color: var(--white);
    border: 2px solid var(--pink-500);
    border-radius: 100%;

    color: var(--pink-500);
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1;

    z-index: 1;

    @include abstracts.breakpoint(xxl) {
        --explore-tip-size: 28px;
        font-size: 1.4rem;
    }

    @include abstracts.breakpoint(md) {
        --explore-tip-size: 28px;
        font-size: 1.4rem;
    }

    @include abstracts.breakpoint(sm) {
        --explore-tip-size: 14px;
        font-size: 0.6rem;
    }

    &:not(:disabled):hover {
        border-color: var(--pink-500) !important;
        color: var(--pink-500) !important;
    }

    &-link {
        display: flex;
        background-color: var(--green-500);
        border-radius: 100%;
        color: var(--white);
        font-size: 3.2rem;

        &:hover {
            color: var(--white);
        }
    }
}

.popover {
    div[role='tooltip'] {
        position: relative;
        padding-right: 26px;

        & > div {
            display: flex;
            align-items: center;
            gap: 26px;

            & > div {
                padding-right: 36px;
                border-right: 1px solid var(--gray-100);
            }
        }
    }
}

.title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 30px;
}

.content {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}
