.logo {
    width: 100%;
    margin-left: 3px;
}

.separate {
    height: 1px;
    margin: 24px 0 10px;
    background-color: var(--white);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--white);

    &-icon {
        font-size: 2.4rem;
    }

    &-youtube {
        font-size: 3.4rem;
    }
}
