@use '/src/view/styles/abstracts';

.modal {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 45px;

        @include abstracts.breakpoint(xxl) {
            margin-bottom: 28px;
        }
    }

    &-btn {
        --sider-btn-modal: 64px;
        width: var(--sider-btn-modal);
        height: var(--sider-btn-modal);
        border-radius: 100%;

        @include abstracts.breakpoint(xxl) {
            --sider-btn-modal: 48px;
        }
    }

    &-icon {
        color: var(--pink-500);
        font-size: 2.4rem;

        @include abstracts.breakpoint(xxl) {
            font-size: 2rem;
        }
    }
}

.logo {
    width: 100%;
    margin-left: 3px;
}

.separate {
    height: 1px;
    margin: 24px 0 10px;
    background-color: var(--white);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--white);

    &-icon {
        font-size: 2.4rem;
    }

    &-youtube {
        font-size: 3.4rem;
    }
}
