.wrapper {
    margin-bottom: auto;

    .item {
        padding: 12px 10px;
    }
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-submenu {
        position: absolute;
        top: 0;
        left: 100%;

        display: none;
        min-width: 232px;
        padding: 12px;
        border-radius: 12px;
        background-color: var(--white);

        box-shadow: var(--submenu-shadow);
        z-index: 1001;
    }

    &-submenu > & {
        padding: 10px 14px 18px;
        color: var(--gray-500);
        font-size: clamp(1.2rem, 0.4vw + 1rem, 1.8rem);

        &:hover {
            color: var(--green-500);
        }
    }

    &-submenu > & + & {
        padding-top: 18px;
        border-top: 1px solid var(--gray-100);
    }

    &--root + &--root {
        margin-top: 16px;
    }

    &--root > &-label {
        display: block;
        padding-bottom: 6px;
        border-bottom: 3px solid transparent;
        font-family: var(--font-bangers);
    }

    &--root > &-icon {
        margin-bottom: 10px;
    }

    &--root > &-label,
    &--root > &-icon {
        color: var(--white);
        font-size: clamp(1.6rem, 1.2vw + 1rem, 3.2rem);
    }

    &--active > &-label,
    &--active > &-icon {
        color: var(--green-600);
        border-bottom-color: var(--green-600);
    }

    &--root:not(&--active):hover > &-label,
    &--root:not(&--active):hover > &-icon {
        color: var(--green-hover-color);
    }
    &--root:hover::before {
        content: '';
        position: absolute;
        top: 0;
        right: -28%;
        display: block;
        width: 50px;
        height: 100px;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover > &-submenu {
        display: block;
    }
}
