.carousel-thumbnail {
    margin: 0 auto;
    color: var(--gray-500);
    line-height: 1.5;

    & + & {
        margin-top: 36px;
    }

    & > .slick-slider {
        position: relative;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;

        .slick-list {
            position: relative;
            transform: translate3d(0, 0, 0);
            touch-action: pan-y;
            overflow: hidden;
        }

        .slick-track {
            position: relative;
            top: 0;
            inset-inline-start: 0;
            touch-action: pan-y;
        }

        .slick-slide {
            float: left;
            height: 100%;
            min-height: 1px;
        }
    }

    &__slider.slick-slider {
        .slick-slide {
            figure {
                img {
                    width: 100%;
                    aspect-ratio: 200 / 133;
                    object-fit: contain;
                }

                figcaption {
                    margin-top: 12px;
                    text-align: center;
                }
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translate(var(--carousel-thumbnail-translate-x), -50%);
            background-color: transparent;
            outline: none;

            color: var(--green-500);
            font-size: 10rem;

            cursor: pointer;
            z-index: 1;

            &.slick-prev {
                --carousel-thumbnail-translate-x: -100%;
                left: 0;
            }

            &.slick-next {
                --carousel-thumbnail-translate-x: 100%;
                right: 0;
            }
        }
    }

    &__paging.slick-slider {
        --carousel-thumbnail-gutter: 42px;
        --carousel-thumbnail-space: calc(var(--carousel-thumbnail-gutter) / 2);

        .slick-list {
            margin: 0 calc(var(--carousel-thumbnail-space) * -1);
        }

        .slick-track {
            // https://github.com/kenwheeler/slick/issues/1302#issuecomment-2312395894
            // fix center when slide to show equal slides count
            left: calc(100% / 5);
        }

        .slick-slide {
            margin: 10px 0;
            padding-right: var(--carousel-thumbnail-space);
            padding-left: var(--carousel-thumbnail-space);

            &.slick-active.slick-current {
                & > * {
                    position: relative;
                }

                & > *::after {
                    content: '';
                    position: absolute;
                    inset: -8px;
                    display: block;
                    border: 4px solid var(--pink-500);
                }
            }

            img {
                width: 100%;
                aspect-ratio: 119/78;
                object-fit: contain;
            }
        }
    }
}
