@use '/src/view/styles/abstracts';

.section {
    padding: 72px;
    background-color: var(--white);

    @include abstracts.breakpoint(xxl) {
        padding: 42px;
    }

    @include abstracts.breakpoint(lg) {
        padding: 16px;
    }

    &__text-content {
        h2 {
            margin: 40px 0 24px;
            color: var(--pink-500);
            font-family: var(--font-bangers);
            font-size: 5rem;
            line-height: 1.064;

            @include abstracts.breakpoint(sm) {
                font-size: 2.4rem;
            }
        }

        h3 {
            margin-bottom: 6px;
            font-size: 2.3rem;
            font-weight: 700;
            line-height: 1.5;
        }

        a {
            color: #005aab;
            text-decoration: underline;
        }

        b,
        strong {
            font-weight: 700;
        }

        p,
        ul,
        ol {
            width: 67.981%;
            margin-bottom: 24px;
            font-size: 1.8rem;
            line-height: 1.5;

            @include abstracts.breakpoint(md) {
                width: unset;
            }

            @include abstracts.breakpoint(sm) {
                font-size: 1.4rem;
            }
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }

        ul,
        ol {
            margin-left: 16px;
        }

        figure {
            img {
                width: 100%;
            }
        }

        table {
            width: 100%;

            th {
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.5;
                text-align: left;

                @include abstracts.breakpoint(md) {
                    font-size: 1.6rem;
                }
            }

            td {
                font-size: 1.8rem;
                line-height: 1.5;

                @include abstracts.breakpoint(md) {
                    font-size: 1.4rem;
                }
            }

            th,
            td {
                padding: 10px 0;
            }
        }
    }
}
