@use '/src/view/styles/abstracts';

.text-content {
    p,
    span,
    em,
    strong,
    figcaption {
        color: var(--gray-500);
        font-family: var(--font-nunito);
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-bangers);
    }

    h2 {
        margin-bottom: 24px;
        color: var(--pink-500);
        font-size: clamp(2.4rem, 5vw - 1.25rem, 5rem);
        font-weight: 400;
        line-height: 1.064;
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }

    h6 {
    }

    p {
        margin-bottom: 24px;
        font-size: clamp(1.4rem, 3vw - 1.5rem, 1.8rem);
        font-weight: 400;
        line-height: 1.5;

        img {
        }
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: 700;
    }

    hr {
        margin: 80px 0;
        border: 1px solid #99c6b1;
    }

    figure {
        &[data-role='image-side'] {
            @include abstracts.breakpoint(md) {
                position: relative;
                float: unset !important;
                width: 100%;
                background-color: var(--black);

                figcaption {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                }
            }

            img {
                @include abstracts.breakpoint(md) {
                    display: block;
                    width: 100% !important;
                    margin: 0 auto !important;
                }
            }
        }

        &[data-role='image-full'] {
            margin-bottom: 40px;

            img {
                width: 100%;
            }
        }

        figcaption {
            margin-top: 12px;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
        }
    }
}
