h1.ant-typography {
    color: var(--green-500);
    font-family: var(--font-bangers);
    font-size: 9.6rem;
    font-weight: 400;
}

h2.ant-typography {
    color: var(--pink-500);
    font-family: var(--font-bangers);
    font-size: 5rem;
    font-weight: 400;
}
