@use '/src/view/styles/abstracts';

.row {
    --inside-park-gutter: 48px;
    --inside-park-space: calc(var(--inside-park-gutter) / 2);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(var(--inside-park-gutter) * -1);
    margin-right: calc(var(--inside-park-space) * -1);
    margin-left: calc(var(--inside-park-space) * -1);

    @include abstracts.breakpoint(xxl) {
        --inside-park-gutter: 32px;
    }

    @include abstracts.breakpoint(xl) {
        --inside-park-gutter: 26px;
    }
}

.col {
    min-width: calc(22.778% + var(--inside-park-gutter));
    padding-top: var(--inside-park-gutter);
    padding-right: var(--inside-park-space);
    padding-left: var(--inside-park-space);

    @include abstracts.breakpoint(lg) {
        min-width: 100%;
    }
}

.card {
    height: 100%;
    padding: 30px 32px;
    border: 4px solid var(--inside-park-card-theme);
    border-radius: 18px;
    box-shadow: 0px 0px 18px 0px #00000040;

    @include abstracts.breakpoint(xxl) {
        padding: 22px 18px;
    }

    @include abstracts.breakpoint(xl) {
        padding: 14px 16px;
    }

    &--green {
        --inside-park-card-theme: var(--green-500);
    }

    &--pink {
        --inside-park-card-theme: #ff41b2;
    }

    &--blue {
        --inside-park-card-theme: #3781db;
    }
}

.button {
    position: relative;
    display: block;
    width: 93.066%;
    padding: 22px 0;
    margin: 0 auto;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.5;
    background-color: var(--inside-park-card-theme);
    border-radius: 0px 0px 18px 18px;

    @include abstracts.breakpoint(xxl) {
        font-size: 2rem;
    }

    @include abstracts.breakpoint(xl) {
        font-size: 1.8rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        right: -28px;
        left: -28px;
        display: block;
        height: 4px;
        background-color: #00000033;
        border-radius: 50%;
        backdrop-filter: blur(4px);

        @include abstracts.breakpoint(xxl) {
            right: -22px;
            left: -22px;
        }

        @include abstracts.breakpoint(xl) {
            right: -16px;
            left: -16px;
        }
    }
}

.list {
    margin-top: 20px;
}

.item {
    display: flex;
    gap: 6px;
    font-size: 1.6rem;
    line-height: 1.5;

    @include abstracts.breakpoint(xl) {
        font-size: 1.4rem;
    }

    &--allow > span {
        color: var(--green-500);
    }

    &--disallow {
        color: var(--gray-300);
        text-decoration: line-through;

        & > span {
            color: #ff0000;
        }
    }

    span {
        font-size: 2.4rem;
    }
}

.text-content {
    margin-top: 4px;
    font-size: 1.6rem;
    line-height: 1.5;

    b {
        font-weight: 700;
    }

    & > ul {
        padding-left: 24px;
    }

    & > ul {
        ul {
            padding-left: 6px;
        }
    }

    ul {
        list-style: disc;

        ul {
            list-style-type: '+ ';
        }
    }
}

.note {
    &-heading {
        margin-top: 24px;
        color: var(--pink-500);
        font-size: 2.3rem;
        font-weight: 800;
        line-height: 1.36;

        @include abstracts.breakpoint(md) {
            font-size: 1.6rem;
        }
    }

    &-content {
        width: 83.33%;
        margin-bottom: 48px;

        @include abstracts.breakpoint(xxl) {
            width: unset;
        }

        @include abstracts.breakpoint(md) {
            margin-bottom: 44px;
        }

        ul {
            list-style-type: disc;
            margin-left: 26px;
        }

        li {
            font-size: 1.8rem;
            line-height: 1.5;

            @include abstracts.breakpoint(md) {
                font-size: 1.4rem;
            }
        }

        strong {
            font-weight: 700;
        }
    }
}
