@use '/src/view/styles/abstracts';

.title {
    position: sticky;
    top: 50px;
    left: 0;
    padding-top: 4px;
    margin-bottom: 24px;
    background-color: var(--white);
    color: var(--green-500);
    font-size: clamp(2.3rem, 1vw + 1.08rem, 3.2rem);
    font-weight: 800;
    z-index: 2;
}

.content {
    &-list {
        li:not(:first-child) {
            margin-top: 24px;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 16px;

        @include abstracts.breakpoint(xxl) {
            gap: 8px;
        }

        span:first-child {
            --custom-tab-item-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;

            width: var(--custom-tab-item-size);
            height: var(--custom-tab-item-size);
            border: 1px solid var(--pink-500);
            border-radius: 100%;

            color: var(--pink-500);
        }

        span:last-child {
            flex: 1 1 0%;
            color: var(--gray-600);
            font-size: clamp(1.4rem, 2vw - 1.25rem, 1.8rem);
            text-wrap: nowrap;
        }
    }
}
